@font-face {
  font-family: "font-1";
  src: url(https://fonts.google.com/specimen/Roboto+Mono?query=roboto+mono);
}
@font-face {
  font-family: "font-2";
  src: url(https://fonts.google.com/specimen/Special+Elite?query=special+elite);
}
