@font-face {
    font-family: "Special Elite";
    src: url(../fonts/Special_Elite/SpecialElite-Regular.ttf);
}
@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}