header {
    background-image: url('../img/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    &::after{
        content: ""; 
        position: absolute; 
        width: 40em;
        height: 2vh;
        top: 3.5em;
        left: 15em;  
        border: solid 1px $mainColor;
        border-color: $mainColor transparent transparent transparent;
    }
    &::before{
        content: ""; 
        position: absolute; 
        width: 20%;
        height: 0vh;
        top: 45%;
        left: -5%;  
        border: solid 1px $mainColor;
        border-color: $mainColor transparent transparent transparent;
        transform: rotate(90deg);
    }
    // #main-banner {
    text-align: center;
    height: auto;
    position: relative;
    h1 {
        padding-top: 2.5em;
        color: $thirdColor;
        word-spacing: 0.5em;
        font-size: 8rem;
        font-family: $spElite;
        text-shadow: 10px 1px $mainColor;
        span {
            font-size: 4rem;
            color: black;
            text-shadow: none;
        }
    }
    .icone-reseau {
        position: absolute;
        left: 3em;
        bottom: 0;
        li {
            font-size: 3rem;
            padding: 0.5em;
            a{
                color: $mainColor;
            }
        }
    }
    // }
    nav {
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
        text-align: left;
        .main-logo {
            width: 15%;
            img {
                width: 100%;
            }
        }
        a {
            color: $thirdColor;
        }
        .deroulant {
            padding-top: 3em;
            display: flex;
            color: $thirdColor;
            height: auto;
            cursor: pointer;  

            li {
                font-size: 2rem;
                &:first-child {
                    font-family: $spElite;
                    color: $mainColor;
                }
                .sous-menu {
                    transform: scale(0);
                    transform-origin: top center;
                    transition: all 300ms ease-in-out;  
                    
                    li {
                        font-size: 1.5rem;
                        background-color: black;
                        padding: 10px 10px;
                        // border: 1px solid $thirdColor;
                        transform: scale(0);
                        transform-origin: top center;
                        transition: all 300ms ease-in-out;
                            
                        a {
                            color: $thirdColor;
    
                            &:hover {
                                color: $mainColor;
                            }
                        }
                    }
                } 
            }

            .contact-banner a{
                background-color: rgba($color: #f09205, $alpha: 0.2);
                padding: 15px;
                border-radius: 40px;
                font-family: $robotoMono;
                &:hover span i{
                    transition: all 0.3s ease-in-out;
                    transform: rotate(90deg);
                }
            }

             

            li:hover .sous-menu li{
                transform: scale(1);
            }
            li:hover .sous-menu{
                transform: scale(1);
            }
        }
        #burger {
            display: none;       
        }   
    }
}    
@media screen and (max-width: 768px) {
    header {
        position: relative;
        nav {
            #burger {
                width:30px;
                height:2px;
                background:blue;
                display:inline-block;
                position:relative;
            }
            #burger::before,
            #burger::after {
                content:'';
                width:30px;
                height:2px;
                background:blue;
                display:inline-block;
                position:absolute;
                transform-origin: center;
                transition: all 0.3s ease;
            }
            #burger::before {
                top:-7px;
            }
            #burger::after {
                top:7px;
            }
            #burger.open {
                background:transparent; /* la barre du milieu disparait */
            }
            /* celles du haut et du bas s'inclinent pour former une croix */
            #burger.open::before {
                transform: rotate(45deg); 
                top:0;
            }
            #burger.open::after {
                transform: rotate(-45deg);
                top:0;
            }
            #deroulant {
                display: flex;
                flex-flow: column;
                background:pink;
                position: absolute;
                width:100%;
                left: 0;
                top: 2em;
                padding:0.5em;
                transform:scaleY(0);
                transform-origin:center top;
                transition:all 0.3s ease;

                .sous-menu {
                    transform: scale(1);
                    z-index: 10;
                    li {
                        transform: scale(1);
                        margin-left: 2em;
                        background-color: transparent;
                        border: none;
                        a {
                            color: black;
                        }
                    }
                }
            }
        }
        #deroulant.open {
            transform:scaleY(1);
        }
    }
}