@font-face {
  font-family: "Special Elite";
  src: url(../fonts/Special_Elite/SpecialElite-Regular.ttf);
}
@font-face {
  font-family: "Roboto Mono";
  src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: url("../img/fond.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  height: auto;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  width: 40em;
  height: 2vh;
  top: 3.5em;
  left: 15em;
  border: solid 1px #F09205;
  border-color: #F09205 transparent transparent transparent;
}
header::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 0vh;
  top: 45%;
  left: -5%;
  border: solid 1px #F09205;
  border-color: #F09205 transparent transparent transparent;
  transform: rotate(90deg);
}
header h1 {
  padding-top: 2.5em;
  color: #E4E4E4;
  word-spacing: 0.5em;
  font-size: 8rem;
  font-family: "Special Elite";
  text-shadow: 10px 1px #F09205;
}
header h1 span {
  font-size: 4rem;
  color: black;
  text-shadow: none;
}
header .icone-reseau {
  position: absolute;
  left: 3em;
  bottom: 0;
}
header .icone-reseau li {
  font-size: 3rem;
  padding: 0.5em;
}
header .icone-reseau li a {
  color: #F09205;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-right: 15%;
  text-align: left;
}
header nav .main-logo {
  width: 15%;
}
header nav .main-logo img {
  width: 100%;
}
header nav a {
  color: #E4E4E4;
}
header nav .deroulant {
  padding-top: 3em;
  display: flex;
  color: #E4E4E4;
  height: auto;
  cursor: pointer;
}
header nav .deroulant li:first-child {
  font-family: "Special Elite";
  color: #F09205;
}
header nav .deroulant .contact-banner a {
  background-color: #f0920560;
  padding: 15px;
  border-radius: 25px;
  font-family: "Roboto Mono";
}
header nav .deroulant .contact-banner a:hover span i {
  transition: all 0.3s ease-in-out;
  transform: rotate(90deg);
}
header nav .deroulant .sous-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
header nav .deroulant .sous-menu li {
  background-color: black;
  padding: 5px 0;
  border: 1px solid #E4E4E4;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
header nav .deroulant .sous-menu li a {
  color: #E4E4E4;
}
header nav .deroulant .sous-menu li a:hover {
  color: #F09205;
}
header nav .deroulant li:hover .sous-menu li {
  transform: scale(1);
}
header nav .deroulant li:hover .sous-menu {
  transform: scale(1);
}
header nav #burger {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
  header nav {
    /* celles du haut et du bas s'inclinent pour former une croix */
  }
  header nav #burger {
    width: 30px;
    height: 2px;
    background: blue;
    display: inline-block;
    position: relative;
  }
  header nav #burger::before,
header nav #burger::after {
    content: "";
    width: 30px;
    height: 2px;
    background: blue;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  header nav #burger::before {
    top: -7px;
  }
  header nav #burger::after {
    top: 7px;
  }
  header nav #burger.open {
    background: transparent;
    /* la barre du milieu disparait */
  }
  header nav #burger.open::before {
    transform: rotate(45deg);
    top: 0;
  }
  header nav #burger.open::after {
    transform: rotate(-45deg);
    top: 0;
  }
  header nav #deroulant {
    display: flex;
    flex-flow: column;
    background: pink;
    position: absolute;
    width: 100%;
    left: 0;
    top: 2em;
    padding: 0.5em;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.3s ease;
  }
  header nav #deroulant .sous-menu {
    transform: scale(1);
    z-index: 10;
  }
  header nav #deroulant .sous-menu li {
    transform: scale(1);
    margin-left: 2em;
    background-color: transparent;
    border: none;
  }
  header nav #deroulant .sous-menu li a {
    color: black;
  }
  header #deroulant.open {
    transform: scaleY(1);
  }
}

/*# sourceMappingURL=style.css.map */
